@font-face {
  font-family: 'Sacramento', cursive;
  src: url('../assets/fonts/Sacramento/Sacramento-Regular.ttf');
}

@font-face {
  font-family: 'Prata', cursive;
  src: url('../assets/fonts/Prata/Prata-Regular.ttf');
}