@mixin background {  
  background:#003a4d url('../assets/images/landing-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: absolute;

  @include respond-to(phone-down) {
    background-position: center center;
  }
}
@mixin font_sacramento {
  font-family: 'Sacramento', cursive;
}

@mixin font_prato {
  font-family: 'Prata', serif;
}
